@using Domain.Models.User
@model LoginModel
<div class="pt-5"></div>
<h1 class="text-center pt-5">Conectar-se</h1>
<div class="container  border rounded mt-5">
    <div class="col-md-12 mb-3 ">
        <form asp-controller="Account" asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="alert alert-light text-danger border border-danger rounded mt-2" role="alert"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control mt-1" placeholder="Insira seu email" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control mt-1" placeholder="Insira sua senha" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-check mt-1">
                <label asp-for="RememberMe"></label>
                <input asp-for="RememberMe" class="form-check-input" />
                <span asp-validation-for="RememberMe" class="form-check-label"></span>
            </div>

            <button type="submit" class="btn  btn-primary mt-3">Entrar</button>   
        </form>
    </div>
</div>

