@using Domain.Models.User
@model ResetPasswordModel

<div class="pt-5"></div>
<h1 class="text-center pt-5">Redefina sua senha</h1>
<div class="container  border rounded mt-5">
    <form class="mt-5" asp-controller="Account" asp-action="ResetPassword" method="post">
        <div asp-validation-summary="ModelOnly" class="alert alert-light text-danger border border-danger rounded mt-2" role="alert"></div>
        @if (ViewBag.SuccessMessage != null && ViewBag.SuccessMessage == true)
        {
            <div class="alert alert-success mt-1 w-auto">
                A senha foi redefinida com sucesso!
            </div>
            <meta http-equiv="refresh" content="2;url=/Identity/Account/Login">
        }
        <input type="hidden" asp-for="Token" value="@ViewBag.Token" />
        <input type="hidden" asp-for="UserId" value="@ViewBag.UserId" />

        <div class="form-group">
            <label asp-for="NewPassword"></label>
            <input type="password" class="form-control mt-1" id="NewPassword" asp-for="NewPassword" placeholder="Insira a nova senha" required>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="form-group mt-2">
            <label asp-for="ConfirmPassword"></label>
            <input type="password" class="form-control mt-1" id="ConfirmPassword" asp-for="ConfirmPassword" placeholder="Confirme a nova senha" required>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn  btn-primary mt-3 m-2">Redefinir Senha</button>
    </form>
</div>

@*
# Documentação da View 'Redefinir Senha'

## Propósito:
Esta view faz parte de um aplicativo web e é usada para permitir que os usuários redefinam suas senhas. A view exibe um formulário onde os usuários podem inserir uma nova senha após receberem um link de redefinição de senha.

## Estrutura:
- A view começa com uma margem superior (`<div class="pt-5"></div>`) para criar espaço vertical na página.
- Existe um título centrado "Redefina sua senha" (`<h1>`).
- O formulário (`<form>`) permite aos usuários inserir uma nova senha e confirmá-la.
- Há uma seção de validação de modelo (`<div asp-validation-summary="All" class="alert-danger"></div>`).
- Se uma mensagem de sucesso (`ViewBag.SuccessMessage`) for definida como verdadeira, uma mensagem de sucesso será exibida e a página será redirecionada para a página de login após 1 segundo.
- Dois campos ocultos (`<input type="hidden">`) são usados para enviar o token e o ID do usuário associados à redefinição de senha.

### Campos:
- Novo Password: Campo de entrada de senha para a nova senha.
- Confirmar Password: Campo de entrada de senha para confirmar a nova senha.

## Comportamento:
- Os usuários inserem a nova senha no campo "Novo Password".
- Eles confirmam a nova senha no campo "Confirmar Password".
- Quando o botão "Redefinir Senha" é clicado, o aplicativo processa a solicitação e redefine a senha do usuário.

## Dependências:
- Esta view depende de uma estrutura web ASP.NET.
- O modelo `ResetPasswordModel` é usado para vincular os campos de entrada de senha e os campos ocultos na view.

## Notas Adicionais:
- Certifique-se de que a ação 'ResetPassword' no controlador 'Account' esteja implementada para processar a redefinição de senha.
- É importante garantir que as validações e as verificações de segurança adequadas sejam implementadas no lado do servidor para proteger as senhas dos usuários.
 *@