
<div class="pt-5"></div>
<div class="pt-5"></div>
<div class="pt-5"></div>
<div class="pt-5"></div>
<div class="pt-5"></div>
<div class="pt-5"></div>
<div class="pt-5"></div>

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo</h1>
    <p>Este é um projeto no qual eu decidi criar esta forma otimizada para envio direto de currículo sem a formalidade usual!</p>
</div>

